

@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.body {
    background: #FFFFFF;
    margin: 0;
    color: #3D3D3D;
    font: 400 14px/16px Inter, sans-serif;

}
 /*.container {
    display: flex;
justify-content: center;
   max-width: 500px;
    margin: 0 auto;
    border-bottom: solid 10px #46A358;
    box-sizing: border-box;
    padding: 52px 100px 50px;

}
*/

.link {
    display: inline;
   padding: 0 10px;
    font-size: 20px;

}
.wrapper {
    text-align: center;
    margin-bottom: -60px;
}
.line {
    display: inline;
    height: 4px;
    margin: 5px;
    border-left: 1px solid #3D3D3D;
}
.login {
    color:#3D3D3D ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}
.register {
    color:#46A358 ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;

}
.enter {
    color:#3D3D3D ;
    font-size: 13px;
    font-weight: 400;
    line-height: 123%;
    text-align: left;
    margin: 15px;
    padding-top: 40px;



}
.input_box {
    width: 100%;
    height: 40px;
    margin-bottom:  16px;
    padding: 12px 14px;
    border: 1px solid #727272;
    border-radius: 5px;
}



.submit {
    display: block;
    background: #46A358;
    color: #FFFFFF ;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-bottom: 36px;
}
.text {
    color:#3D3D3D ;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
/*.line_1 {
    text-align: center;
    border-bottom: 1px solid #727272;
}
.bold_line {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    border-bottom: 1px solid #727272;
    margin-bottom: -12px;

}

/*.text {
    color:#3D3D3D ;
    display: inline-block;
    padding: 0 5px 5px;
    margin-bottom: -12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}*/
.social {
   width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #727272;
    border-radius: 5px;
   align-items: center;
    margin: 15px;
    gap: 9px;
}
.Google {
    background:none ;
    color:#727272 ;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none
;
}
    .Facebook {
        background: none;
        color: #727272;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-decoration: none;
    }

.container {
    max-width: 1200px;
    margin: 0 auto;
}.container {
     max-width: 1200px;
     margin: 0 auto;
 }
.site_header {
    padding-top: 30px;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid #46A358;
    margin-bottom: 5px;
}


header nav ul  {
    display: flex;
    gap: 50%;
    list-style: none;

}
header nav ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
.banner .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 80px;
    background-color: #f5f5f5;
}


h3 {
    margin: 0 0 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
h1 {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}
span {
    color: green;
}
.btn {
    padding: 11px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    border: none;
    margin-top: 44px;
}
.login{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-left: 17px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.site_header {
    padding-top: 30px;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid #46A358;
    margin-bottom: 5px;
}


header nav ul  {
    display: flex;
    gap: 50%;
    list-style: none;

}
header nav ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
.banner .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 80px;
    background-color: #f5f5f5;
}


h3 {
    margin: 0 0 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
h1 {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}
span {
    color: green;
}
.btn {
    padding: 11px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    border: none;
    margin-top: 44px;
}
.login{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-left: 17px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.container-all {
    display: flex;
    justify-content: space-between;
}
.left-side {
    max-width: 310px;
    margin: 171px 50px 207px 85px ;
    background: #FBFBFB;
    font-family: 'cera_proregular';


}
.right-side {
    max-width: 840px;
    margin: 171px 107px 82px 0 ;


}
.right-side-nv {
    display: flex;
    justify-content: space-between;
    font-family: 'cera_proregular';

}
.right-side-nv ul {
    display: flex;
    gap: 37px;
}
 ul  li  {
    list-style-type: none;
     padding-bottom: 10px;
}
 ul  li a {
     text-decoration: none;
     color: #3d3d3d;
 }
.sale {
  padding: 150px 0;
}
.container-shop{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:90px ;
    background: #FBFBFB;
    gap: 33px ;

}
.shop {
    max-width: 258px;
}
span{
    display:block;
    font-family: 'cera_proregular';

}

img {
    width: 100%;
}
.foot {
  max-width: 840px;
}
.page {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
}
.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;

}
.number img {
    width: 15px;
    height: 15px;
}
h4 {
    padding-left: 30px;
    font-family: 'cera_probold';
}
