

@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    background: #FFFFFF;
    margin: 0;
    color: #3D3D3D;
}
.preload {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'cera_probold';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preload div {
    color: #18B5DC;
    transform: rotate(180deg);
    position: absolute;
    opacity: 0;
    animation: move 3s linear infinite;
}
.preload div:nth-child(2) {
    animation-delay: 0.2s;
}
.preload div:nth-child(3) {
    animation-delay: 0.4s;
}
.preload div:nth-child(4) {
    animation-delay: 0.6s;
}
.preload div:nth-child(5) {
    animation-delay: 0.8s;
}
.preload div:nth-child(6) {
    animation-delay: 1s;
}
.preload div:nth-child(7) {
    animation-delay: 1.2s;
}
@keyframes move {
0% {
    opacity: 0;
    left: 0;
}
    35% {
        transform: rotate(0deg);
        opacity: 1;
        left: 41%;

    }
    65% {
        transform: rotate(0deg);
        opacity: 1;
        left: 59%;
    }
    100% {
        opacity: 0;
        left: 100%;
        transform: rotate(-180deg);
    }
}


 /*.container {
    display: flex;
justify-content: center;
   max-width: 500px;
    margin: 0 auto;
    border-bottom: solid 10px #46A358;
    box-sizing: border-box;
    padding: 52px 100px 50px;

}
*/

.link {
    display: inline;
   padding: 0 10px;
    font-size: 20px;

}
.wrapper {
    text-align: center;
    margin-bottom: -60px;
}
.line {
    display: inline;
    height: 4px;
    margin: 5px;
    border-left: 1px solid #3D3D3D;
}
.login {
    color:#3D3D3D ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}
.register {
    color:#46A358 ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;

}
.enter {
    color:#3D3D3D ;
    font-size: 13px;
    font-weight: 400;
    line-height: 123%;
    text-align: left;
    margin: 15px;
    padding-top: 40px;



}
.input_box {
    width: 100%;
    height: 40px;
    margin-bottom:  16px;
    padding: 12px 14px;
    border: 1px solid #727272;
    border-radius: 5px;
}



.submit {
    display: block;
    background: #46A358;
    color: #FFFFFF ;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-bottom: 36px;
}
.text {
    color:#3D3D3D ;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
/*.line_1 {
    text-align: center;
    border-bottom: 1px solid #727272;
}
.bold_line {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    border-bottom: 1px solid #727272;
    margin-bottom: -12px;

}

/*.text {
    color:#3D3D3D ;
    display: inline-block;
    padding: 0 5px 5px;
    margin-bottom: -12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}*/
.social {
   width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #727272;
    border-radius: 5px;
   align-items: center;
    margin: 15px;
    gap: 9px;
}
.Google {
    background:none ;
    color:#727272 ;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none
;
}
    .Facebook {
        background: none;
        color: #727272;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-decoration: none;
    }

.container {
    max-width: 1200px;
     margin: 0 auto;
}

.site_header {
    padding-top: 30px;
    margin-bottom: 12px;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #46A358;
}
.site_header__logo {
    margin-bottom: 17px;
}

.site_header nav ul li:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #46A358;
    margin-top: 35px;
    transition: 0.4s;

}
.site_header nav ul li ul li:after {
    display: none;
}
.site_header nav ul li ul li:after {
    width: auto;
}
.site_header nav ul li a {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;

}
.site_header nav ul li a:hover {
   font-family: cera_probold;
}
.site_header nav ul li:hover::after {
    width: 100%;
}
.site_header nav ul li ul li:hover::after {
    width: auto;
}
.site_header nav ul li {
    position: relative;
}


.banner .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 80px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}


h3 {
    font-family: cera_promedium;
    margin: 0 0 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
h1 {
    font-family: cera_probold;
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
p {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}
span {
    color: green;
}
.btn-reg {
    padding: 11px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    border: none;
   margin-bottom: 18px;
}

.login-btn{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-left: 17px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 18px;
}
.login-btn img {
    width: 20px;
    height: 20px;
}
.login-btn:hover {
    background-color: #46A358;
    opacity: 90%;
    cursor: pointer;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid #46A358;
    margin-bottom: 5px;
}


header nav ul  {
    display: flex;
    gap: 50px;
    list-style: none;

}
header nav ul li ul {
    display: none;
    position: absolute;
    background-color: #edf6ee;
    padding: 10px;
    list-style: none;
    top: 100%;
    left: 0;
}
header nav ul li:hover ul {
    display: block;
}

header nav ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header nav ul li.drop-menu {
    position: relative;
}
header nav ul li.submenu ul li {
    position: absolute;
    background-color: #edf6ee;
    padding: 7px 14px;

}
header nav ul li.submenu li:hover{
    background-color: #1A712A;
}

.banner .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 80px;
    background-color: #f5f5f5;
}


h3 {
    margin: 0 0 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
h1 {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
.banner-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}
span {
    color: green;
}
.btn {
    padding: 11px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    border: none;
    margin-top: 44px;
}
.btn:hover {
    background: #1A712A;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.login{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-left: 17px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.features {
    margin-top: 30px;
}
.container-all {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.left-side {
    max-width: 310px;
    background: #FBFBFB;
    font-family: 'cera_proregular';




}
.right-side {
    max-width: 840px;



}
.right-side-nv {
    display: flex;
    justify-content: space-between;
    font-family: 'cera_proregular';

}
.right-side-nv ul {
    display: flex;
    gap: 37px;
}
.right-side-nv ul li a {
    text-decoration: none;

}
.right-side-nv-ul  {
    list-style-type: none;
    color: #3D3D3D;
}
.nv-a {
    color: #3D3D3D;
}
.right-side-nv ul li:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #46A358;
    margin-top: 5px;
    transition: 0.4s;
}
.right-side-nv ul li a:hover{
    font-family: cera_probold;
}
.right-side-nv ul li:hover::after {
    width: 100%;
}
.categories  {
    list-style-type: none;
}
.category-li {
    padding-bottom: 10px;
    margin-left: 18px;
    margin-bottom: 10px;
}
.categories-a {
    text-decoration: none;
    color: #3d3d3d;
}
.categories-a:hover {
    font-family: cera_probold;
    font-weight: 700;
    color: #46A358;
}
.sale {
  padding: 150px 0;
}
.container-shop{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:90px ;
    gap: 33px ;

}
.shop {
    max-width: 250px;
    text-decoration: none;
}
.price {
    position: relative;
    font-family: cera_probold;
    font-weight: 700;
    font-size: 18px;


}
.off {
    font-family: cera_promedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #46A358;
    color: #fff;


}
.first-img {
   position: relative;
    overflow: hidden;
    margin-top: 31px;
}
.img-w-h {
    width: 258px;
    height: 300px;
}
.first-img ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: -85px;
    left: 0;
    transition: 0.5s;
    list-style-type: none;

}
.first-img:hover ul {
    bottom: 85px;
    left: 0;

}.first-img ul li a {
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: #FFFFFF;

 }
.first-img ul li:first-of-type a:before {
    content: "";
    display: block;
    position: absolute;
 background-image: url("../img/Vector1.svg");
    width: 20px;
    height: 20px;


}
.first-img ul li:first-of-type a:hover:before {
background-image: url("../img/Vector1-hover.svg");
    display: block;
    position: absolute;


}
.first-img ul li:nth-of-type(2) a:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/Vector.svg");
    width: 18px;
    height: 18px;
}
.first-img ul li:nth-of-type(2) a:hover:before {
    background-image: url("../img/Vector-hover.svg");
    display: block;
    position: absolute;

}
.first-img ul li:nth-of-type(3) a:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/Vector66.svg");
    width: 20px;
    height: 20px;
}
.first-img ul li:nth-of-type(3) a:hover:before {
    background-image: url("../img/Vector66-hover.svg");
    display: block;
    position: absolute;
}

.shop span{
    display:block;
    font-family: 'cera_proregular';
    margin-top: 12px;

}
.old-price {

    text-decoration: line-through;

}
.name {
    color: #3d3d3d;
}


.foot {
  max-width: 840px;

}

.page {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    gap: 10px;


}

.foot ul li:last-of-type a:after{
    display: block;
    content: "";
    background-image: url('../img/arrow_right2.svg');
    width: 8px;
    height: 12px;
}
.foot ul li:last-of-type a:hover:after {
    background-image: url('../img/arrow_right2_hover.svg');
}
.foot ul li a {
    text-decoration: none;
    font-family: 'cera_proregular';
    color: #3D3D3D;
}
.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;

}
.foot a:hover {
   background: #46A358;
    font-family: cera_probold;
    font-weight: 700;
    color: #FFFFFF;
}
.number img {
    width: 15px;
    height: 15px;
}
h4 {
    padding-left: 18px;
    margin-bottom: 18px;
    font-family: 'cera_probold';
}
.flex-section {
   margin-top: 79px;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}

.right-side1 {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    max-width: 570px;
    width: 100%;
    background: #FBFBFB;


    .img14 {
        position: absolute;
        width: auto;
        left: 0;
        top: -50px;
    }
}
.right-side2 {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    max-width: 570px;
    width: 100%;
    background: #FBFBFB;

}
.img15 {
    position: absolute;
    width: auto;
    left: 0;
    top: -50px;
}


.description {
    text-align: right;
    max-width: 293px;
    padding-right: 30px;
    margin-top: 37px;
}

h5 {
    font-family: 'cera_probold';
    text-align: end;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #3d3d3d;
}
.block-1 {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 9px;
}

.find-more {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    padding-right: 30px;
    text-decoration: none;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    gap: 2px;
    margin-top: 25px;
    padding-left: 26px;
    margin-bottom: 46px;

}
.arrow {
    padding-top: 3px;
    width: 18px;
    height: 18px;
}
.posts-section {
   margin-top: 72px;
}

.container-blogs {
    max-width: 1200px;
    margin: 0 auto;

}
.blog-posts {
 display: flex;
    justify-content: center;
    align-items: center;


}
.down-side1 {
    display: flex;
  justify-content: space-around;
    margin-bottom: 100px;
}


.text-blog {
    font-family: 'cera_proregular';
   margin-bottom: 35px;
}
h6 {
    font-family: 'cera_probold';
    font-size: 30px;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 16px;
    margin-bottom: 20px;
}

.september {
    color: #46A358;
    margin-top: 8px;
}

h2 {
    font-family: cera_proregular;
    font-size: 20px;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 26px;
    margin-top: 4px;
}
.september-description {
    font-family: 'cera_proregular';
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    line-height: 22px;
    margin-top: 4px;
}
.read-more {
    text-decoration: none;
    font-family: cera_promedium;
    font-size: 14px;
    color: #3d3d3d;
    margin-top: 9px;
    gap: 13px;
}
.arrow-black {
    width: 16px;
    height: 16px;
}
.read-more a:before {
    content: "";
    display: block;
   color: #3D3D3D;
}
.read-more a:before:hover {
    content: "";
    display: block;
   color: #46A358;
}
.anime {
    width: 70px;
    height: 70px;
    background-color: yellow;
    position: absolute;
    left: 0;
    animation: anime 5s infinite;
}
.anime-2 {
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    left: 70px;
    animation: anime 3s infinite;
}
.anime-3 {
    width: 70px;
    height: 70px;
    background-color: blue;
    position: absolute;
    left: 140px;
    animation: anime 4s infinite;
}

@keyframes anime {
    0% {
        left: 10%;
        transform:rotate(0deg);
    }
    30% {
        left: 30%;
        top: 10%;
        transform: rotate(90deg);

    }
    50% {
        left: 80%;
        top: 25%;
        transform: rotate(180deg);
    }
    60% {
        left: 60%;
        top: 20%;
        transform: rotate(190deg);
    }
    80% {
        left: 30%;
        top: 10%;
        transform: rotate(90deg);

    }
    100% {
        left: 10%;
        transform:rotate(0deg);
    }

}
@keyframes anime-1{
    0% {
        left: 15%;
        transform:rotate(0deg);
    }
    30% {
        left: 90%;
        top: 10%;
        transform: rotate(90deg);

    }
    50% {
        left: 40%;
        top: 25%;
        transform: rotate(180deg);
    }
    60% {
        left: 90%;
        top: 20%;
        transform: rotate(190deg);
    }
    80% {
        left: 40%;
        top: 10%;
        transform: rotate(90deg);

    }
    100% {
        left: 15%;
        transform:rotate(0deg);
    }

}
@keyframes anime-3{
    0% {
        left: 80%;
        transform:rotate(0deg);
    }
    30% {
        left: 20%;
        top: 10%;
        transform: rotate(90deg);

    }
    50% {
        left: 60%;
        top: 25%;
        transform: rotate(180deg);
    }
    60% {
        left: 80%;
        top: 20%;
        transform: rotate(190deg);
    }
    80% {
        left: 25%;
        top: 10%;
        transform: rotate(90deg);

    }
    100% {
        left: 15%;
        transform:rotate(0deg);
    }

}
.footer-section {
    max-width: 1200px;
    margin: 0 auto;

}
.block1 {
    display: flex;
    justify-content: space-around;
    gap: 61px;
    align-items: flex-start;
    background-color: #FBFBFB;
}
.block1 img {
    position: relative;
    width: 77px;
    height: 95px;

}
.footer-title {
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
}
.footer-text {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 24px;
}
.footer-form {
    margin-top: 22px;
 max-width: 330px;

}
.footer-form p{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.form-row {
    display: flex;
    gap: 0;
}
.input_box {
    padding: 12px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 4px 0 0 4px;
    width: 270px;
}
.footer-form h6 {
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.footer-form button {
    width:85px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #46A358;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.footer-form button:hover {
    background-color: #28a745;
}
.contacts_us {
    max-width: 1200px;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 155px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);;
    padding: 23px;

}
.contacts_us a:nth-of-type(1):before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon.svg');
    background-repeat: no-repeat;
    position: relative;
    left: -10px;
    top: 14px;
}
.contacts_us a:nth-of-type(2):before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon(1).svg');
    background-repeat: no-repeat;
    position: relative;
    left: -7px;
    top: 5px;
}
.contacts_us a:nth-of-type(3):before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon(1).svg');
    background-repeat: no-repeat;
    position: relative;
    left: -7px;
    top: 5px;
}
.contacts_us a {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    text-decoration: none;
    text-align: center;
}
.last-block {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FBFBFB;
}
.help {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 33px;
.media {
    display: flex;
    justify-content: space-around;
    gap: 187px;

}
.media  ul li {
    list-style: none;
    padding: 8px;
}
.media li a {
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
}
    .media li a:hover {
        font-family: cera_probold;
        font-weight: 700;
        color: #46A358;
        cursor: pointer;
    }
.li-tittle {
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.social-media {
    display: flex;
    flex-direction:column;
    gap: 10px;
    align-items: flex-start;
    padding-top: 8px;
    padding-left: 175px;
}

}
.social-media img {
    width: 30px;
    height: 30px;
}
.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding-bottom: 33px;
}

.social-media p {
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-bottom:20px ;
}
.paypal {
    padding-top: 33px;
    margin-bottom: 13px;
}
.paypal img{
    width: auto;
}
.finished {
    display: flex;
    justify-content: center;
}
